---
layout: default
---
<div class="left-pane">
    <ul class="toc">
        <li>
            <a class="brand" href="{{ base_url }}" style="padding-left:10px">
                <i class="fa fa-home fa-white"></i> HOME
            </a>
        </li>
        {% for category in site.data.toc.categories %}
            <li>
                <a class="heading" href="{{ base_url }}/docs/{{ category.url }}">
                    {{ category.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
