<div class="left-pane">
    <ul class="toc">
        <li>
            <a class="brand" href="{{ site.baseurl }}" style="padding-left:10px">
                <i class="fa fa-home fa-white"></i> HOME
            </a>
        </li>
        {% for category in site.data.toc.categories %}
            {% if category.url == page.slug %}
                <li class="active">
                    <a class="heading" href="{{ site.baseurl }}/docs/{{ category.url }}">
                        {{ category.title }}
                    </a>
                </li>
            {% else %}
                <li>
                    <a class="heading" href="{{ site.baseurl }}/docs/{{ category.url }}">
                        {{ category.title }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
